body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222222;
}
          
.horizontal-scrollable > .row {
    flex-wrap: nowrap;
}

.event-column
{
    margin: 10px;
    padding: 10px;
    background-color: #181818;
    color: white;
    border-radius: 5px;
}

.character-card
{
    background-color: #181818;
    color: white;
}

.single-accordion
{
    color: white;
}

.accordion-button:focus
{
    box-shadow: none;
    border-color: transparent;
}

.accordion-visible
{
    background-color: #181818;
}
.accordion-visible > .accordion-header > .accordion-button
{
    background-color: #181818;
    color: white;
}

.accordion-hidden
{
    text-decoration: line-through;
    background-color: #424242;
    color: #7b7b7b;
}
.accordion-hidden > .accordion-header > .accordion-button
{
    background-color: #424242;
    color: #7b7b7b;
}